.block_ {
    color: black;
    display: block;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block_1 {
    color: black;
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 10pt
    }
.block_2 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.15;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block_3 {
    color: #404040;
    display: block;
    font-size: 2em;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 0 15pt
    }
.block_4 {
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.15;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block_5 {
    display: block;
    font-size: 1.66667em;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.15;
    padding: 0;
    margin: 24pt 0 0
    }
.block_6 {
    color: black;
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 5pt
    }
.block_7 {
    color: black;
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 5pt 12pt
    }
.block_8 {
    color: black;
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 10pt
    }
.block_9 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.15;
    padding: 0;
    margin: 0 0 10pt
    }
.block_10 {
    display: block;
    font-size: 1.66667em;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.15;
    text-align: center;
    padding: 0;
    margin: 24pt 0 0
    }
.block_11 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 1.13;
    text-align: center;
    padding: 0;
    margin: 10pt 0 0
    }
.block_12 {
    display: block;
    font-size: 1.29167em;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.13;
    padding: 0;
    margin: 10pt 0 0
    }
.block_13 {
    display: block;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.13;
    padding: 0;
    margin: 10pt 0 0
    }
.block_14 {
    color: black;
    display: block;
    font-style: italic;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 10pt
    }
.block_15 {
    color: black;
    display: list-item;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 36pt;
    padding-bottom: 0;
    padding-top: 0
    }
.calibre {
    color: #595959;
    display: block;
    font-family: "Candara", sans-serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre3 {
    height: 55.4pt;
    line-height: 1.2;
    width: 55.4pt
    }
.calibre4 {
    line-height: 1.2;
    white-space: pre-wrap
    }
.calibre5 {
    display: block;
    height: auto;
    line-height: 1.2;
    width: auto
    }
.calibre6 {
    color: gray;
    display: block;
    height: 2px;
    line-height: 1.2;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre7 {
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.calibre8 {
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.calibre9 {
    display: block;
    line-height: 1.2
    }
.calibre10 {
    line-height: 1.2
    }
.calibre11 {
    font-style: italic;
    line-height: 1.2
    }
.calibre12 {
    font-weight: bold;
    line-height: 1.2
    }
.list_ {
    display: block;
    line-height: 1.2;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.text_ {
    font-family: "Tahoma", sans-serif;
    font-size: 2.66667em;
    line-height: 1.2
    }
.text_1 {
    font-family: "Candara", sans-serif;
    font-size: 1.11111em;
    line-height: 1.2
    }
.text_2 {
    color: #00F;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: underline
    }
.text_3 {
    line-height: 1.2;
    text-decoration: underline
    }
.text_4 {
    color: #00F;
    line-height: 1.2;
    text-decoration: underline
    }
.text_5 {
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.2
    }
.text_6 {
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.text_7 {
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: underline
    }
